@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Qwigley&display=swap');
.header{
    display: flex;
    height: 8vh;
}
.header__nav{
    display: flex;   
    width: 68vw;
    justify-content: space-between;
    align-items: center;
}

.header__nav__search {   
    border-radius: 3px;
    margin: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.search{
    width: 100%;
    min-width: 20vw;
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .header{
        display: none;
    }
}

